src/stepfunctions/supply-chain-prediction-pipeline-demo-jp.asl.json
{
    "Comment": "グローバルサプライチェーン予測システム - メインオーケストレーションパイプライン",
    "StartAt": "InitializePipelineRun",
    "States": {
        "InitializePipelineRun": {
            "Type": "Pass",
            "Comment": "パイプラインメタデータと実行IDを初期化",
            "Parameters": {
                "run_id.$": "$$.Execution.Id",
                "start_time.$": "$$.Execution.StartTime",
                "config.$": "$.config"
            },
            "Next": "ParallelDataIngestion"
        },
        "ParallelDataIngestion": {
            "Type": "Parallel",
            "Comment": "全データソースから並列でデータを取り込み",
            "Branches": [
                {
                    "StartAt": "HttpInvokeSupplierAPI",
                    "States": {
                        "HttpInvokeSupplierAPI": {
                            "Type": "Task",
                            "Comment": "サプライヤーAPIから在庫データを取得",
                            "Resource": "arn:aws:states:::http:invoke",
                            "Parameters": {
                                "ApiEndpoint": "https://supplier-api.example.com/v1/inventory",
                                "Method": "GET",
                                "Authentication": {
                                    "ConnectionArn": "arn:aws:events:ap-northeast-1:123456789012:connection/SupplierAPIConnection/a1b2c3d4-5678-90ab-cdef-111111111111"
                                }
                            },
                            "ResultPath": "$.supplier_raw",
                            "Next": "GlueStartDataQualityRulesetEvaluationRun"
                        },
                        "GlueStartDataQualityRulesetEvaluationRun": {
                            "Type": "Task",
                            "Comment": "Glue Data Qualityでサプライヤーデータを検証",
                            "Resource": "arn:aws:states:::aws-sdk:glue:startDataQualityRulesetEvaluationRun",
                            "Parameters": {
                                "DataSource": {
                                    "GlueTable": {
                                        "DatabaseName": "supply_chain_db",
                                        "TableName": "supplier_raw"
                                    }
                                },
                                "RulesetNames": [
                                    "SupplierDataQualityRuleset"
                                ],
                                "Role": "arn:aws:iam::ACCOUNT:role/GlueDataQualityRole"
                            },
                            "ResultPath": "$.supplier_validation",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "HttpInvokeNewsAPI",
                    "States": {
                        "HttpInvokeNewsAPI": {
                            "Type": "Task",
                            "Comment": "ニュースAPIから記事を取得",
                            "Resource": "arn:aws:states:::http:invoke",
                            "Parameters": {
                                "ApiEndpoint": "https://newsapi.org/v2/everything",
                                "Method": "GET",
                                "QueryParameters": {
                                    "q": "supply chain port shipping logistics",
                                    "language": "en"
                                },
                                "Authentication": {
                                    "ConnectionArn": "arn:aws:events:ap-northeast-1:123456789012:connection/NewsAPIConnection/a1b2c3d4-5678-90ab-cdef-222222222222"
                                }
                            },
                            "ResultPath": "$.raw_news",
                            "Next": "S3PutObjectNews"
                        },
                        "S3PutObjectNews": {
                            "Type": "Task",
                            "Comment": "生ニュースデータをS3に保存",
                            "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
                            "Parameters": {
                                "Bucket": "supply-chain-data-lake",
                                "Key.$": "States.Format('raw/news/{}/news.json', $.run_id)",
                                "Body.$": "States.JsonToString($.raw_news)",
                                "ContentType": "application/json"
                            },
                            "ResultPath": "$.news_s3_result",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "HttpInvokeWeatherAPI",
                    "States": {
                        "HttpInvokeWeatherAPI": {
                            "Type": "Task",
                            "Comment": "天気APIから気象データを取得",
                            "Resource": "arn:aws:states:::http:invoke",
                            "Parameters": {
                                "ApiEndpoint": "https://api.weather.com/v3/alerts",
                                "Method": "GET",
                                "Authentication": {
                                    "ConnectionArn": "arn:aws:events:ap-northeast-1:123456789012:connection/WeatherAPIConnection/a1b2c3d4-5678-90ab-cdef-333333333333"
                                }
                            },
                            "ResultPath": "$.weather_data",
                            "Next": "HttpInvokePortAPI"
                        },
                        "HttpInvokePortAPI": {
                            "Type": "Task",
                            "Comment": "港湾状況APIからデータを取得",
                            "Resource": "arn:aws:states:::http:invoke",
                            "Parameters": {
                                "ApiEndpoint": "https://portapi.example.com/v1/status",
                                "Method": "GET",
                                "Authentication": {
                                    "ConnectionArn": "arn:aws:events:ap-northeast-1:123456789012:connection/PortAPIConnection/a1b2c3d4-5678-90ab-cdef-555555555555"
                                }
                            },
                            "ResultPath": "$.port_data",
                            "End": true
                        }
                    }
                }
            ],
            "ResultPath": "$.ingestion_results",
            "Next": "CheckIngestionSuccess"
        },
        "CheckIngestionSuccess": {
            "Type": "Choice",
            "Comment": "全データソースの取り込み成功を確認",
            "Choices": [
                {
                    "Variable": "$.ingestion_results[0].supplier_validation.Status",
                    "StringEquals": "FAILED",
                    "Next": "HandleIngestionFailure"
                }
            ],
            "Default": "S3PutObjectAllRawData"
        },
        "HandleIngestionFailure": {
            "Type": "Task",
            "Comment": "CloudWatch Logsにエラーを記録",
            "Resource": "arn:aws:states:::aws-sdk:cloudwatchlogs:putLogEvents",
            "Parameters": {
                "LogGroupName": "/aws/stepfunctions/supply-chain-pipeline",
                "LogStreamName": "ingestion-errors",
                "LogEvents": [
                    {
                        "Timestamp.$": "$$.State.EnteredTime",
                        "Message.$": "States.Format('Ingestion failed: {}', $.ingestion_results)"
                    }
                ]
            },
            "Next": "SNSPublishIngestionFailure"
        },
        "SNSPublishIngestionFailure": {
            "Type": "Task",
            "Comment": "SNSでデータ取り込み失敗アラートを送信",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "arn:aws:sns:REGION:ACCOUNT:SupplyChainAlerts",
                "Message": "データ取り込みに失敗しました - CloudWatchログを確認してください",
                "Subject": "【エラー】サプライチェーンデータ取り込み失敗"
            },
            "End": true
        },
        "S3PutObjectAllRawData": {
            "Type": "Task",
            "Comment": "全生データをS3ランディングゾーンに保存",
            "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
            "Parameters": {
                "Bucket": "supply-chain-data-lake",
                "Key.$": "States.Format('raw/batch/{}/all_data.json', $.run_id)",
                "Body.$": "States.JsonToString($.ingestion_results)",
                "ContentType": "application/json"
            },
            "ResultPath": "$.s3_write_result",
            "Next": "GlueStartCrawler"
        },
        "GlueStartCrawler": {
            "Type": "Task",
            "Comment": "Glue Crawlerでスキーマを更新",
            "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
            "Parameters": {
                "Name": "SupplyChainRawCrawler"
            },
            "ResultPath": "$.crawler_result",
            "Next": "WaitForCrawler"
        },
        "WaitForCrawler": {
            "Type": "Wait",
            "Seconds": 60,
            "Next": "GlueGetCrawler"
        },
        "GlueGetCrawler": {
            "Type": "Task",
            "Comment": "Crawlerステータスを確認",
            "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
            "Parameters": {
                "Name": "SupplyChainRawCrawler"
            },
            "ResultPath": "$.crawler_status",
            "Next": "IsCrawlerComplete"
        },
        "IsCrawlerComplete": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.crawler_status.Crawler.State",
                    "StringEquals": "READY",
                    "Next": "GlueStartJobRun"
                }
            ],
            "Default": "WaitForCrawler"
        },
        "GlueStartJobRun": {
            "Type": "Task",
            "Comment": "Glue ETLでデータを変換・キュレーション",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
                "JobName": "SupplyChainETL",
                "Arguments": {
                    "--run_id.$": "$.run_id",
                    "--source_path": "s3://supply-chain-data-lake/raw/",
                    "--target_path": "s3://supply-chain-data-lake/curated/"
                }
            },
            "ResultPath": "$.glue_result",
            "Next": "ParallelAIProcessing"
        },
        "ParallelAIProcessing": {
            "Type": "Parallel",
            "Comment": "AI/ML処理を並列実行",
            "Branches": [
                {
                    "StartAt": "ComprehendBatchDetectEntities",
                    "States": {
                        "ComprehendBatchDetectEntities": {
                            "Type": "Task",
                            "Comment": "Comprehendでエンティティを一括検出",
                            "Resource": "arn:aws:states:::aws-sdk:comprehend:batchDetectEntities",
                            "Parameters": {
                                "TextList.$": "$.news_texts",
                                "LanguageCode": "en"
                            },
                            "ResultPath": "$.entities_result",
                            "Next": "ComprehendBatchDetectSentiment"
                        },
                        "ComprehendBatchDetectSentiment": {
                            "Type": "Task",
                            "Comment": "Comprehendで感情を一括検出",
                            "Resource": "arn:aws:states:::aws-sdk:comprehend:batchDetectSentiment",
                            "Parameters": {
                                "TextList.$": "$.news_texts",
                                "LanguageCode": "en"
                            },
                            "ResultPath": "$.sentiment_result",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "BedrockInvokeModelEventExtraction",
                    "States": {
                        "BedrockInvokeModelEventExtraction": {
                            "Type": "Task",
                            "Comment": "Bedrock Claudeでニュースから構造化イベントを抽出",
                            "Resource": "arn:aws:states:::aws-sdk:bedrockruntime:invokeModel",
                            "Parameters": {
                                "ModelId": "anthropic.claude-3-sonnet-20240229-v1:0",
                                "ContentType": "application/json",
                                "Accept": "application/json",
                                "Body": {
                                    "anthropic_version": "bedrock-2023-05-31",
                                    "max_tokens": 4096,
                                    "messages": [
                                        {
                                            "role": "user",
                                            "content.$": "States.Format('ニュース記事からサプライチェーンリスクイベントを抽出してください。JSON形式で返してください: {}', $.news_content)"
                                        }
                                    ]
                                }
                            },
                            "ResultSelector": {
                                "extracted_events.$": "$.Body.content[0].text"
                            },
                            "ResultPath": "$.bedrock_extraction",
                            "Next": "BedrockInvokeModelSeverityClassification"
                        },
                        "BedrockInvokeModelSeverityClassification": {
                            "Type": "Task",
                            "Comment": "Bedrockでイベントの重大度を分類",
                            "Resource": "arn:aws:states:::aws-sdk:bedrockruntime:invokeModel",
                            "Parameters": {
                                "ModelId": "anthropic.claude-3-haiku-20240307-v1:0",
                                "ContentType": "application/json",
                                "Accept": "application/json",
                                "Body": {
                                    "anthropic_version": "bedrock-2023-05-31",
                                    "max_tokens": 1024,
                                    "messages": [
                                        {
                                            "role": "user",
                                            "content.$": "States.Format('以下のイベントをCRITICAL/HIGH/MEDIUM/LOWで分類してください: {}', $.bedrock_extraction.extracted_events)"
                                        }
                                    ]
                                }
                            },
                            "ResultSelector": {
                                "classified_events.$": "$.Body.content[0].text"
                            },
                            "ResultPath": "$.classification",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "BedrockAgentStartIngestionJob",
                    "States": {
                        "BedrockAgentStartIngestionJob": {
                            "Type": "Task",
                            "Comment": "Bedrock Knowledge Baseにドキュメントを取り込み（埋め込み自動生成）",
                            "Resource": "arn:aws:states:::aws-sdk:bedrockagent:startIngestionJob",
                            "Parameters": {
                                "KnowledgeBaseId": "supply-chain-kb",
                                "DataSourceId": "news-data-source"
                            },
                            "ResultPath": "$.kb_ingestion",
                            "End": true
                        }
                    }
                }
            ],
            "ResultPath": "$.ai_processing_results",
            "Next": "ParallelKnowledgeUpdate"
        },
        "ParallelKnowledgeUpdate": {
            "Type": "Parallel",
            "Comment": "全ナレッジストアを並列更新",
            "Branches": [
                {
                    "StartAt": "NeptuneGraphStartImportTask",
                    "States": {
                        "NeptuneGraphStartImportTask": {
                            "Type": "Task",
                            "Comment": "Neptune Analyticsにグラフデータをインポート",
                            "Resource": "arn:aws:states:::aws-sdk:neptunegraph:startImportTask",
                            "Parameters": {
                                "GraphIdentifier": "supply-chain-graph",
                                "Source": "s3://supply-chain-data-lake/curated/graph-data/",
                                "Format": "CSV",
                                "RoleArn": "arn:aws:iam::ACCOUNT:role/NeptuneLoadRole"
                            },
                            "ResultPath": "$.neptune_import",
                            "Next": "WaitForNeptuneImport"
                        },
                        "WaitForNeptuneImport": {
                            "Type": "Wait",
                            "Seconds": 60,
                            "Next": "NeptuneGraphExecuteQuery"
                        },
                        "NeptuneGraphExecuteQuery": {
                            "Type": "Task",
                            "Comment": "Neptune Analyticsでリスク伝播クエリを実行",
                            "Resource": "arn:aws:states:::aws-sdk:neptunegraph:executeQuery",
                            "Parameters": {
                                "GraphIdentifier": "supply-chain-graph",
                                "QueryString": "MATCH (e:Event)-[:IMPACTS]->(p:Port)-[:SHIPS_TO*1..3]->(dest:Port) WHERE e.severity IN ['CRITICAL', 'HIGH'] RETURN dest.name AS affected_port, count(*) AS risk_score ORDER BY risk_score DESC",
                                "Language": "OPEN_CYPHER"
                            },
                            "ResultPath": "$.risk_propagation",
                            "Next": "NeptuneGraphFindAlternativeSuppliers"
                        },
                        "NeptuneGraphFindAlternativeSuppliers": {
                            "Type": "Task",
                            "Comment": "影響を受けたサプライヤーに対する最寄りの代替サプライヤーを検索",
                            "Resource": "arn:aws:states:::aws-sdk:neptunegraph:executeQuery",
                            "Parameters": {
                                "GraphIdentifier": "supply-chain-graph",
                                "QueryString": "MATCH (affected:Supplier)-[:SUPPLIES]->(product:Product), (affected)-[:LOCATED_IN]->(affectedRegion:Region), (alternative:Supplier)-[:SUPPLIES]->(product), (alternative)-[:LOCATED_IN]->(altRegion:Region) WHERE affected.is_impacted = true AND alternative.is_impacted = false AND affected <> alternative WITH affected, product, alternative, point.distance(point({latitude: affectedRegion.lat, longitude: affectedRegion.lon}), point({latitude: altRegion.lat, longitude: altRegion.lon})) AS distance ORDER BY affected.id, distance RETURN affected.id AS impacted_supplier_id, affected.name AS impacted_supplier_name, product.name AS product_name, collect({alternative_id: alternative.id, alternative_name: alternative.name, distance_km: distance/1000, capacity: alternative.capacity, lead_time_days: alternative.lead_time})[0..3] AS top_3_alternatives",
                                "Language": "OPEN_CYPHER"
                            },
                            "ResultPath": "$.alternative_suppliers",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "OpenSearchServerlessIndexDocuments",
                    "States": {
                        "OpenSearchServerlessIndexDocuments": {
                            "Type": "Task",
                            "Comment": "OpenSearch Serverlessにイベントをインデックス",
                            "Resource": "arn:aws:states:::aws-sdk:opensearchserverless:batchGetCollection",
                            "Parameters": {
                                "Ids": [
                                    "supply-chain-events"
                                ]
                            },
                            "ResultPath": "$.opensearch_collection",
                            "Next": "HttpInvokeOpenSearchBulk"
                        },
                        "HttpInvokeOpenSearchBulk": {
                            "Type": "Task",
                            "Comment": "OpenSearch Bulk APIでドキュメントをインデックス",
                            "Resource": "arn:aws:states:::http:invoke",
                            "Parameters": {
                                "ApiEndpoint.$": "States.Format('{}/_bulk', $.opensearch_collection.CollectionDetails[0].CollectionEndpoint)",
                                "Method": "POST",
                                "Headers": {
                                    "Content-Type": "application/x-ndjson"
                                },
                                "Body.$": "$.bulk_documents",
                                "Authentication": {
                                    "ConnectionArn": "arn:aws:events:ap-northeast-1:123456789012:connection/OpenSearchConnection/a1b2c3d4-5678-90ab-cdef-444444444444"
                                }
                            },
                            "ResultPath": "$.opensearch_result",
                            "End": true
                        }
                    }
                }
            ],
            "ResultPath": "$.knowledge_update_results",
            "Next": "RunPredictionPipeline"
        },
        "RunPredictionPipeline": {
            "Type": "Parallel",
            "Comment": "ML予測を並列実行",
            "Branches": [
                {
                    "StartAt": "ForecastCreateDatasetImportJob",
                    "States": {
                        "ForecastCreateDatasetImportJob": {
                            "Type": "Task",
                            "Comment": "Amazon Forecastにデータをインポート",
                            "Resource": "arn:aws:states:::aws-sdk:forecast:createDatasetImportJob",
                            "Parameters": {
                                "DatasetImportJobName.$": "States.Format('import-{}', $.run_id)",
                                "DatasetArn": "arn:aws:forecast:REGION:ACCOUNT:dataset/supply_chain_delays",
                                "DataSource": {
                                    "S3Config": {
                                        "Path": "s3://supply-chain-data-lake/curated/timeseries/",
                                        "RoleArn": "arn:aws:iam::ACCOUNT:role/ForecastDataAccessRole"
                                    }
                                }
                            },
                            "ResultPath": "$.forecast_import",
                            "Next": "WaitForForecastImport"
                        },
                        "WaitForForecastImport": {
                            "Type": "Wait",
                            "Seconds": 300,
                            "Next": "ForecastCreateForecast"
                        },
                        "ForecastCreateForecast": {
                            "Type": "Task",
                            "Comment": "Amazon Forecastで遅延予測を生成",
                            "Resource": "arn:aws:states:::aws-sdk:forecast:createForecast",
                            "Parameters": {
                                "ForecastName.$": "States.Format('delay-forecast-{}', $.run_id)",
                                "PredictorArn": "arn:aws:forecast:REGION:ACCOUNT:predictor/delay_predictor"
                            },
                            "ResultPath": "$.forecast_result",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "SageMakerCreateTransformJob",
                    "States": {
                        "SageMakerCreateTransformJob": {
                            "Type": "Task",
                            "Comment": "SageMakerで在庫異常検知を実行",
                            "Resource": "arn:aws:states:::sagemaker:createTransformJob.sync",
                            "Parameters": {
                                "TransformJobName.$": "States.Format('anomaly-detection-{}', $.run_id)",
                                "ModelName": "stock-anomaly-detector",
                                "TransformInput": {
                                    "DataSource": {
                                        "S3DataSource": {
                                            "S3DataType": "S3Prefix",
                                            "S3Uri": "s3://supply-chain-data-lake/curated/supplier_stock/"
                                        }
                                    },
                                    "ContentType": "text/csv"
                                },
                                "TransformOutput": {
                                    "S3OutputPath": "s3://supply-chain-data-lake/predictions/anomalies/"
                                },
                                "TransformResources": {
                                    "InstanceCount": 1,
                                    "InstanceType": "ml.m5.xlarge"
                                }
                            },
                            "ResultPath": "$.anomaly_result",
                            "End": true
                        }
                    }
                }
            ],
            "ResultPath": "$.prediction_results",
            "Next": "BedrockAgentRuntimeInvokeAgent"
        },
        "BedrockAgentRuntimeInvokeAgent": {
            "Type": "Task",
            "Comment": "Bedrock Agentで全結果を統合しインサイトを生成",
            "Resource": "arn:aws:states:::aws-sdk:bedrockagentruntime:invokeAgent",
            "Parameters": {
                "AgentId": "supply-chain-analyst-agent",
                "AgentAliasId": "PROD",
                "SessionId.$": "$.run_id",
                "InputText.$": "States.Format('以下のデータを分析してください。リスクスコア: {}、予測結果: {}、イベント: {}', $.knowledge_update_results[0].risk_propagation, $.prediction_results, $.ai_processing_results[1].classification)"
            },
            "ResultPath": "$.agent_analysis",
            "Next": "EvaluateRiskLevel"
        },
        "EvaluateRiskLevel": {
            "Type": "Choice",
            "Comment": "リスク分析に基づきアラートレベルを決定",
            "Choices": [
                {
                    "Variable": "$.agent_analysis.overall_risk_level",
                    "StringEquals": "CRITICAL",
                    "Next": "CriticalRiskPath"
                },
                {
                    "Variable": "$.agent_analysis.overall_risk_level",
                    "StringEquals": "HIGH",
                    "Next": "HighRiskPath"
                },
                {
                    "Variable": "$.agent_analysis.overall_risk_level",
                    "StringEquals": "MEDIUM",
                    "Next": "MediumRiskPath"
                }
            ],
            "Default": "LowRiskPath"
        },
        "CriticalRiskPath": {
            "Type": "Parallel",
            "Comment": "重大リスク - 即座にマルチチャネルアラート",
            "Branches": [
                {
                    "StartAt": "SNSPublishCriticalAlert",
                    "States": {
                        "SNSPublishCriticalAlert": {
                            "Type": "Task",
                            "Comment": "SNSで重大アラートを送信",
                            "Resource": "arn:aws:states:::sns:publish",
                            "Parameters": {
                                "TopicArn": "arn:aws:sns:REGION:ACCOUNT:SupplyChainCriticalAlerts",
                                "Message.$": "$.agent_analysis.analysis",
                                "Subject": "【重大】サプライチェーンリスク検出"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "EventBridgePutEvents",
                    "States": {
                        "EventBridgePutEvents": {
                            "Type": "Task",
                            "Comment": "EventBridgeでインシデント対応をトリガー",
                            "Resource": "arn:aws:states:::events:putEvents",
                            "Parameters": {
                                "Entries": [
                                    {
                                        "Source": "supply-chain.risk-detector",
                                        "DetailType": "Critical Risk Detected",
                                        "Detail.$": "States.JsonToString($.agent_analysis)",
                                        "EventBusName": "supply-chain-events"
                                    }
                                ]
                            },
                            "End": true
                        }
                    }
                }
            ],
            "ResultPath": "$.critical_notifications",
            "Next": "BedrockInvokeModelDetailedReport"
        },
        "HighRiskPath": {
            "Type": "Task",
            "Comment": "SNSで高リスクアラートを送信",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "arn:aws:sns:REGION:ACCOUNT:SupplyChainAlerts",
                "Message.$": "$.agent_analysis.analysis",
                "Subject": "【高】サプライチェーンリスクアラート"
            },
            "ResultPath": "$.high_risk_notification",
            "Next": "BedrockInvokeModelDetailedReport"
        },
        "MediumRiskPath": {
            "Type": "Task",
            "Comment": "CloudWatch Logsに中リスクを記録",
            "Resource": "arn:aws:states:::aws-sdk:cloudwatchlogs:putLogEvents",
            "Parameters": {
                "LogGroupName": "/aws/stepfunctions/supply-chain-pipeline",
                "LogStreamName": "medium-risk-events",
                "LogEvents": [
                    {
                        "Timestamp.$": "$$.State.EnteredTime",
                        "Message.$": "$.agent_analysis.analysis"
                    }
                ]
            },
            "ResultPath": "$.medium_risk_log",
            "Next": "BedrockInvokeModelDetailedReport"
        },
        "LowRiskPath": {
            "Type": "Pass",
            "Comment": "低リスク - 即時アクション不要",
            "Next": "BedrockInvokeModelDetailedReport"
        },
        "BedrockInvokeModelDetailedReport": {
            "Type": "Task",
            "Comment": "Bedrock Claude Sonnetで包括的な分析レポートを生成",
            "Resource": "arn:aws:states:::aws-sdk:bedrockruntime:invokeModel",
            "Parameters": {
                "ModelId": "anthropic.claude-3-sonnet-20240229-v1:0",
                "ContentType": "application/json",
                "Accept": "application/json",
                "Body": {
                    "anthropic_version": "bedrock-2023-05-31",
                    "max_tokens": 8192,
                    "messages": [
                        {
                            "role": "user",
                            "content.$": "States.Format('以下のデータに基づいて、経営層向けの包括的なサプライチェーンリスクレポートを日本語で作成してください: {}', $.agent_analysis)"
                        }
                    ]
                }
            },
            "ResultSelector": {
                "report.$": "$.Body.content[0].text"
            },
            "ResultPath": "$.detailed_report",
            "Next": "ParallelOutputGeneration"
        },
        "ParallelOutputGeneration": {
            "Type": "Parallel",
            "Comment": "全出力を並列生成",
            "Branches": [
                {
                    "StartAt": "S3PutObjectReport",
                    "States": {
                        "S3PutObjectReport": {
                            "Type": "Task",
                            "Comment": "レポートをS3に保存",
                            "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
                            "Parameters": {
                                "Bucket": "supply-chain-reports",
                                "Key.$": "States.Format('reports/{}/report.json', $.run_id)",
                                "Body.$": "States.JsonToString($.detailed_report)",
                                "ContentType": "application/json"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "QuickSightCreateIngestion",
                    "States": {
                        "QuickSightCreateIngestion": {
                            "Type": "Task",
                            "Comment": "QuickSightデータセットを更新",
                            "Resource": "arn:aws:states:::aws-sdk:quicksight:createIngestion",
                            "Parameters": {
                                "AwsAccountId": "ACCOUNT",
                                "DataSetId": "supply-chain-dashboard",
                                "IngestionId.$": "States.Format('ingestion-{}', $.run_id)"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "NeptuneGraphExecuteQueryExport",
                    "States": {
                        "NeptuneGraphExecuteQueryExport": {
                            "Type": "Task",
                            "Comment": "Neptuneからグラフ可視化用データをエクスポート",
                            "Resource": "arn:aws:states:::aws-sdk:neptunegraph:executeQuery",
                            "Parameters": {
                                "GraphIdentifier": "supply-chain-graph",
                                "QueryString": "MATCH (s:Supplier)-[r:SHIPS_VIA]->(route:Route)-[:TO]->(p:Port) WHERE route.risk_score > 0.5 RETURN s, r, route, p",
                                "Language": "OPEN_CYPHER"
                            },
                            "ResultPath": "$.graph_export",
                            "Next": "S3PutObjectGraphData"
                        },
                        "S3PutObjectGraphData": {
                            "Type": "Task",
                            "Comment": "グラフデータをS3に保存（Graph Explorer用）",
                            "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
                            "Parameters": {
                                "Bucket": "supply-chain-visualizations",
                                "Key.$": "States.Format('graph-exports/{}/impacted-routes.json', $.run_id)",
                                "Body.$": "States.JsonToString($.graph_export)",
                                "ContentType": "application/json"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "DynamoDBPutItem",
                    "States": {
                        "DynamoDBPutItem": {
                            "Type": "Task",
                            "Comment": "DynamoDBに予測結果をキャッシュ",
                            "Resource": "arn:aws:states:::dynamodb:putItem",
                            "Parameters": {
                                "TableName": "SupplyChainPredictions",
                                "Item": {
                                    "pk": {
                                        "S.$": "$.run_id"
                                    },
                                    "sk": {
                                        "S": "PREDICTION"
                                    },
                                    "risk_level": {
                                        "S.$": "$.agent_analysis.overall_risk_level"
                                    },
                                    "predictions": {
                                        "S.$": "States.JsonToString($.prediction_results)"
                                    },
                                    "ttl": {
                                        "N": "86400"
                                    }
                                }
                            },
                            "End": true
                        }
                    }
                }
            ],
            "ResultPath": "$.output_results",
            "Next": "S3CopyObjectArchive"
        },
        "S3CopyObjectArchive": {
            "Type": "Task",
            "Comment": "S3 Glacierに期限切れデータをアーカイブ",
            "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
            "Parameters": {
                "CopySource": "supply-chain-data-lake/curated/events/old/",
                "Bucket": "supply-chain-archive",
                "Key.$": "States.Format('archive/{}/events.json', $.run_id)",
                "StorageClass": "GLACIER"
            },
            "ResultPath": "$.archive_result",
            "Next": "CloudWatchPutMetricData"
        },
        "CloudWatchPutMetricData": {
            "Type": "Task",
            "Comment": "CloudWatchにパイプラインメトリクスを記録",
            "Resource": "arn:aws:states:::aws-sdk:cloudwatch:putMetricData",
            "Parameters": {
                "Namespace": "SupplyChain/Pipeline",
                "MetricData": [
                    {
                        "MetricName": "PipelineExecutionTime",
                        "Value.$": "$.execution_time_seconds",
                        "Unit": "Seconds"
                    },
                    {
                        "MetricName": "EventsProcessed",
                        "Value.$": "$.events_count",
                        "Unit": "Count"
                    },
                    {
                        "MetricName": "RiskLevel",
                        "Value": 1,
                        "Dimensions": [
                            {
                                "Name": "Level",
                                "Value.$": "$.agent_analysis.overall_risk_level"
                            }
                        ]
                    }
                ]
            },
            "ResultPath": "$.metrics",
            "Next": "PipelineComplete"
        },
        "PipelineComplete": {
            "Type": "Succeed",
            "Comment": "パイプライン正常完了"
        }
    }
}